body{
    margin: 0;
    width: 100%;
}

.wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15vh auto;
}

/* Header */
    header{
        background-color: cornflowerblue;
        height: 100%;
        width: 100%;
        top:0;
        display: flex;
        flex-direction: row-reverse;
    }
    #title{
        position: absolute;
        left: 4rem;
        line-height: 15vh;
        font-size: 2rem;
        margin:0;
    }
    .icon{
        position: relative;
        margin-right: 1rem;
        padding: 0;
    }
    #logoicon{
        position: absolute;
        left: 1rem;
    }
    #hamburgericon,#carticon,#logoicon{
        font-size: 2rem;
        line-height: 15vh;
        cursor: pointer;
    }

/* Main */
    main{
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-rows: 20% 80%;
    }
    .ad{
        background-image: url(../img/ad_mobile.jpg),url(../img/alt_header.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: top,center;
        margin: 1vh;
        margin-bottom: 0;
        border-radius: 1vh;
    }
    .meals{
        margin-right: 1vh;
        height: 200vw;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 25% 25% 25% 25%;
    }

    /* Layout of each product */
        .meal{
            padding: 1vh;
            padding-right: 0;
            background-color: white;
            display: grid;
            grid-template-columns: 5fr 2fr 24px 24px 24px;
            grid-template-rows: 8fr 1fr 1fr;
        }
        .mealname{
            grid-area: 2 / 1 / span 1/ span 2;
            cursor: pointer;
        }
        .price{
            grid-area: 3 / 1;   
            cursor: default;
        }
        .mealname,.price{
            font-size: 80%;
            margin: 0.5vh;
        }
        .buy{
            background-color: cornflowerblue;
            grid-area: 2 / 3 / span 2 / span 3;
            height:80%;
            border-radius: 1vh;
            display: flex;
            align-self: center;
            justify-content: center;
            line-height: 100%;
            cursor: pointer;
        }
        /* Product icons */
            .veg{
                background-color: greenyellow;
                width:24px;
                height:24px;
                border-radius: 50%;
                line-height: 24px;
                font-size: 16px;
                text-align: center;
                justify-self: right;
                align-self: flex-end;
                margin: 0.5vh;
            }
            .eco{
                background-color: green;
                grid-area: 2 / 4;
                border-radius: 50%;
                height: 24px;
                width: 24px;
                justify-self: right;
                align-self: flex-end;
                cursor: default;
                margin: 0.5vh;
            }
            .info{
                cursor: pointer;
                justify-self: center;
                align-self: center;
                grid-area: 2 / 5;
                background-color: lightgray;
                border-radius: 50%;
                height:24px;
                width: 24px;
            }
            .mealicon{
                font-size: 5vw;
                text-align: center;
                line-height: 100%;
            }

        /* Pictures for the meals */
            .mealpic{
                background-color: bisque;
                grid-area: 1 / 1 /span 1/ span 5;
                background-size: cover;
                border-radius: 1vh;
                cursor: pointer; 
                display: flex;
                flex-direction: row-reverse;
            }
            #mealpic1{
                background-image: url(../img/Köttbullar_at_IKEA_Xihongmen_\(20150423114159\).JPG);
            }
            #mealpic2{
                background-image: url(../img/spaghetti-pasta-noodles-food-drink-10af25-1024.jpg);
            }
            #mealpic3{
                background-image: url(../img/Minted-Lamb-Burger-with-F-476840.jpg)
            }
            #mealpic4{
                background-image: url(../img/healthy-food-1348430_960_720.jpg);
            }
            #mealpic5{
                background-image: url(../img/cucumber-food-vegetable-food-drink-9502a4-1024.jpg);
            }
            #mealpic6{
                background-image: url(../img/Unu_spageto.jpg);
            }
            #mealpic7{
                background-image: url(../img/Carrot-Ginger-Soup-with-Coconut-Milk-the-barefoot-cook.jpg);
            }
            #mealpic8{
                background-image: url(../img/sandwich-451403_960_720.jpg);
            }

/* Nav */
    nav{
        height: 100vh;
        display: flex;
        background-image: url(../img/dark-wood-and-vegetables.jpg);
        background-size: cover;
        background-position: right;
        width: 0vw;
        opacity: 0;
        transition: 0.6s;
        position: fixed;
        top: 0;
        right: 0;
    }
    .menu-active{
        width: 100vw;
        opacity: 1;
    }
    .closer{
    position: absolute;
    right: 1rem;
    padding:0;
    } 
    .noscroll{
        overflow-y: hidden;
    }

/* Shader */
    .shadow-active{
        opacity: 0.6 !important;
        z-index: 1 !important;
    }
    #theShadow{
        background-color: black;
        opacity: 0;
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

/* Cart */
    .cart-inactive{
        margin-top:0;
        height: 0;
        width: 0;
        opacity: 0;
        transition: 0.6s;
        position: fixed;
    }
    .cart-active{
        margin-top:0;
        height: 110vw;
        width: 90vw;
        opacity: 1;
        margin-top: 50%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 11vw 16vw 16vw 16vw 16vw 20vw 1fr;
        padding: 0,5vh;
        z-index: 2;  
        top: 0;
        right: 5%;
        background-color: white;
        border-radius: 1vh;
        -webkit-box-shadow: 10px 10px 15px -5px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 15px -5px rgba(0,0,0,0.75);  
        box-shadow: 10px 10px 15px -5px rgba(0,0,0,0.75);       
    }
    .cartsum,.cartbuy,.summarytext,.carttitle,.cartItem{
        margin: 0.5vh;
    }
    .carttitle{
        grid-area: 1/1;
        font-size: 1.5rem;
        margin-top: 1vh;
    }
    .cartCloser{
        grid-area: 1/1;
        position: relative;
        margin-right: 1vh;
        margin-top: 1vh;
        justify-self: right;
        height: 24px;
    }
    .remover,.adder,.cartCloser{
        cursor: pointer;   
    } 
    .summary{
        display: grid;
        grid-template-columns: 80% 20%;
    }
    .summarytext{
        font-size: 0.6rem;
    }
    .cartsum{
        align-self: center;
        text-align: center;
        text-decoration: underline;
    }
    .cartbuy{
        grid-area: 7/1;
        height: 60%;
        width: 50%;
        justify-self: center;
        align-self: center;
    }
    /* Items in cart */
        .cartItem{
            display: grid;
            grid-template-columns: 25% 30% 25% 20%;
            margin-bottom: 0;
        }
        .cartpic{
            background-size: cover;
            background-position: center;
            grid-area: 1/1;
            cursor: default;
        }
        .cartname{
            grid-area: 1/2;
            align-self: center; 
            cursor: default;
        }
        .itemsum{
            grid-area: 1/4;
            align-self: center; 
            text-align: center;
        }
        #item1{
            grid-area: 2/1;
        }
        #item2{
            grid-area: 3/1;
        }
        #item3{
            grid-area: 4/1;
        }
        #item4{
            grid-area: 5/1;
        }

    /* How many items in cart */
        .howmany{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            align-content: center; 
            text-align: center;
            grid-area: 1/3;
            margin-left: 1vh;
            margin-right: 1vh;
        }
        .counter{
            align-self: center;
        }
        .adder,.remover{
            align-self: center;
        }

/* Product info */
    .info-inactive{
        position: fixed;
        margin-top:0;
        height: 0;
        width: 0;
        opacity: 0;
        transition: 0.6s;
    }
    .info-active{
        opacity: 1 !important;
        margin-top: 50% !important;
        height: 100vw !important;
        width: 90vw !important;
        transition: 0.6s;
        display: grid;
        grid-template-columns: 6fr 0vw 8vw 8vw 8vw;
        grid-template-rows: 1fr 6vw 24vw;
        z-index: 2;  
        position: fixed;
        top: 0;
        right: 5%;
        background-color: white;
        border-radius: 1vh;
        -webkit-box-shadow: 10px 10px 15px -5px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 15px -5px rgba(0,0,0,0.75);  
        box-shadow: 10px 10px 15px -5px rgba(0,0,0,0.75);           
    }
    .infoprice{
        grid-area: 2/3/span 1/span 3;
        font-size: 100%;
    }
    .infobuy{
        grid-area: 3/3/span 1/span 3;
        height: 10vw;
        margin: 0.5vh;
        width: auto;
    }
    .infomealname{
        cursor: default;
        font-size: 100%;
        display: grid;
        grid-template-rows: 6vw 24vw;
    }
    .infomealpic{
        cursor: default;
        grid-area: 1 / 1 /span 1/ span 1;
        margin: 0.5vh;
        background-position: center;
    }
    .explanation{
        cursor: default;
        position: relative;
        top: 24px;
        grid-area: 1/3/span 1/span 3;
        font-size: 2rem;
        margin: 0.5vh;
        height: 85%;
        margin-left: 0;
        font-size: 0.5rem;
    }
    .mealdesc{
        font-size: 80%;
        margin: 0;
        grid-area: 2/1;
    }
    .white{
        background-color: white;
        width: 24px;
        height: 24px;
        border-radius: 1vh;
        grid-area: 1 / 5 /span 1/ span 1;
        justify-self: right;
        margin-top: 1vh;
        right: 1vh;
        position: relative;
        cursor: pointer;
    }

/* Text */
    #title,.summary,.buy,.veg,.mealname,.price,.omtext,.explanation,.itemsum,.counter,.carttitle,a,h1{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    h1{
        margin: 0;
        margin-bottom: 1vh;
    }
    ul{
        display: flex;
        flex-direction: column;
        padding-left: 1rem !important;
    }
    a{
        text-decoration: none;
        color: black;
        font-size: 1.5rem;
    }
    .text{
        font-size: 20px !important;
        margin: 2px;
        align-self: center;
    }
    .list{
        color: white;
        padding-top: 1vh; 
    }

/* om.html & kontakt.html */
    .omtextbox{
        background-color: lightskyblue;
        border-radius: 1vh;
        margin: 1vh;
        padding: 1vh;
        grid-area: 3 / 2 ;
    }
    .kontaktbild,.ombild{
        height: 20vh;
        background-size: cover;
        background-position: center;
        border-radius: 1vh;
        margin: 1vh;
        grid-area: 2 / 2 ;
        background-size: 40%;
    }
    .ombild{
        background-image: url(../img/om.jpg);
    }
    .kontaktbild{
        background-image: url(../img/kontakt.jpg);
    }
    
    
@media only screen and (min-device-width : 1024px){
    /* Header */
        header{
            grid-area: 1/1/span 1/ span 2;
        }
        .icon{
            margin-right: 2rem;
        }
        #logoicon{
            line-height: 15vh;
        }
        #carticon,#title,#hamburgericon,#logoicon{
            font-size: 3rem;
            cursor: pointer;
        }
        
    .wrapper{
        grid-template-columns: 20% 80%;
        grid-template-rows: 15vh auto;
    }
    
    /* Main */
        main{
            grid-template-rows: 36vh 65%;
        }
        .ad{
            height: 35vh;
            background-image: url(../img/ad_desktop.jpg),url(../img/alt_header.jpg);
            background-position: center;
        }
        .meals{
            height: 40vw;
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
            grid-template-rows: 20vw 20vw;
        }
    
    /* om.html & kontakt.html */
        .wrapper2{
            display: grid;
            grid-template-columns: 20% 80%;
            grid-template-rows: 15vh 36vh auto;
        }
        .kontaktbild,.ombild{
            height: 35vh;
        }
        .omtextbox,.kontaktbild,.ombild{
            margin-left: 0.4vw;
        }

    /* Nav */
        nav{
            display: block;
            grid-area: 2/1;
            background-image: url(../img/o-REPURPOSING-IDEA-facebook.jpg);
            background-size: cover;
            margin: 1vh;
            margin-right:0; 
            border-radius: 1vh;
            position: unset;
            left: 0;
            right: unset;
            opacity: 1;
            width: 19vw;
            height: 35vh;
        }
        .list{
            color: black; 
        }
        .closer,#hamburgericon{
            display: none;
        }

    /* Product info */
        .info-active{
            margin-top: 5vw !important;
            height: 40vw !important;
            width: 60vw !important;
            grid-template-columns: 1fr 0vw 5vw 5vw 5vw;
            grid-template-rows: 1fr 2vw 8vw;
            right: 20vw;
        }
        .infobuy{
            height: 4vw;
        }
        .explanation{
            font-size: 0.7rem;
            margin-left: 0.5vh;
            margin-right: 1vh;
        }
        .mealname{
            grid-template-rows: 2vw 8vw;
        }
        .mealdesc{
            font-size: 70%;
        }
    
    /* Cart */
    .cart-active{
        margin-top:0;
        height: 30vw;
        width: 60vw;
        margin-top: 15vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 4vw 6vw 6vw 2vw 8vw 1fr;
        right: 20vw;      
    }
    .cartCloser{
        grid-area: 1/2;
        margin: 2vh;
    }
    .cartItem,.carttitle{
        margin: 1vh;
        margin-bottom: 0;
    }
    .carttitle{    
        margin-top: 2vh;
    }
    #item2{
        grid-area: 2/2;
    }
    #item3{
        grid-area: 3/1;
    }
    #item4{
        grid-area: 3/2;
    }
    .summary{
        grid-area: 5/1;
        grid-template-columns: 4fr 2fr;
    }
    .cartsum{
        font-size: 1.5rem;
        text-align: left
    }
    .summarytext{
        font-size: 0.7rem;
        text-align: center;
    }
    .cartbuy{
        grid-area: 5/2;
    }

}