body{
    margin: 0;
    width: 100%;
}

.wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15vh auto;
    grid-template-areas:
    "header"
    "main";
}

header{
    background-color: cornflowerblue;
    height: 100%;
    width: 100%;
    position: sticky;
    top:0;
    display: flex;
    flex-direction: row-reverse;
}


.kundvagn{
    height: 100vh;
    width: 100vw;
    background-color: aquamarine;
}

.icon{
    position: relative;
    margin-right: 1rem;
    padding: 0;
}

#logoicon{
    position: absolute;
    left: 1rem;
}

#hamburgericon,#carticon,#logoicon{
    font-size: 2rem;
    line-height: 15vh;
}

#title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    left: 4rem;
    /* transform: translateY(4vh); */
    line-height: 15vh;
    font-size: 2rem;
    margin:0;
}

main{
    grid-area: main;
    /* background-color: peru; */
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 20% 80%;
}

.ad{
    background-image: url(../img/ad_mobile.jpg),url(../img/alt_header.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top,center;
    margin: 1vh;
    margin-bottom: 0;
    /* height: 28vh; */
    border-radius: 1vh;
}

.meals{
    margin-right: 1vh;
    height: 200vw;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25% 25% 25%;
}

.meal{
    padding: 1vh;
    padding-right: 0;
    /* width: 100%;      */
    /* height: 100%; */
    background-color: white;
    display: grid;
    grid-template-columns: 5fr 2fr 24px 24px 24px;
    grid-template-rows: 8fr 1fr 1fr;
    grid-template-areas:
    "mealpic mealpic mealpic mealpic mealpic"
    "mealname empty indicator3 indicator2 indicator1"
    "price empty buy buy buy";
}

.buy{
    background-color: cornflowerblue;
    grid-area: 3 / 3 / span 1 / span 3;
    height:100%;
    border-radius: 1vh;
    display: flex;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 100%;
}
.veg{
    background-color: greenyellow;
    grid-area: 2 / 3 /span 1/ span 1;
    width:24px;
    height:24px;
    border-radius: 50%;
    line-height: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    text-align: center;
    justify-self: center;
    align-self: center;
}
.shadow-active{
    opacity: 0.6 !important;
    z-index: 1 !important;
}
#theShadow{
    background-color: black;
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.eco{
    background-color: green;
    grid-area: 2 / 4;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    justify-self: center;
    align-self: center;
}
.info{
    justify-self: center;
    align-self: center;
    grid-area: 2 / 5;
    background-color: lightgray;
    border-radius: 50%;
    height:24px;
    width: 24px;
}
.mealicon{
    font-size: 5vw;
    text-align: center;
    line-height: 100%;
}
.mealname{
    grid-area: 2 / 1 / span 1/ span 2;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 80%;
    margin: 0.5vh;
}
.price{
    grid-area: 3 / 1;    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 80%;
    margin: 0.5vh;
    align-self: flex-end;
}
.mealdesc{
    font-size: 80%;
    margin: 0;
}
.mealpic{
    background-color: bisque;
    /* border-width: 1px;
    border-style: solid; */
    grid-area: 1 / 1 /span 1/ span 5;
    background-size: cover;
    border-radius: 1vh; 
}
#mealpic1{
    background-image: url(../img/Köttbullar_at_IKEA_Xihongmen_\(20150423114159\).JPG);
}
#mealpic2{
    background-image: url(../img/spaghetti-pasta-noodles-food-drink-10af25-1024.jpg);
}
#mealpic3{
    background-image: url(../img/Minted-Lamb-Burger-with-F-476840.jpg)
}
#mealpic4{
    background-image: url(../img/healthy-food-1348430_960_720.jpg);
}
#mealpic5{
    background-image: url(../img/cucumber-food-vegetable-food-drink-9502a4-1024.jpg);
}
#mealpic6{
    background-image: url(../img/Unu_spageto.jpg);
}
#mealpic7{
    background-image: url(../img/Carrot-Ginger-Soup-with-Coconut-Milk-the-barefoot-cook.jpg);
}
#mealpic8{
    background-image: url(../img/sandwich-451403_960_720.jpg);
}
.text{
    font-size: 20px !important;
    margin: 2px;
    align-self: center;
}
ul{
    display: flex;
    flex-direction: column;
    padding-left: 1rem !important;
}

.list{
    color: white;
    padding-top: 1vh; 
}

a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav{
    height: 100vh;
    display: flex;
    background-image: url(../img/dark-wood-and-vegetables.jpg);
    background-size: cover;
    background-position: right;
    width: 0vw;
    opacity: 0;
    transition: 0.6s;
    position: fixed;
    top: 0;
    right: 0;
}
.menu-active{
    width: 100vw;
    opacity: 1;
}
.noscroll{
    overflow-y: hidden;
}
.closer{
    position: absolute;
    right: 1rem;
    padding:0;
} 

.cart-inactive{
    margin-top:0;
    height: 0;
    width: 0;
    opacity: 0;
    transition: 0.6s;
}

#theInfo1,#theInfo2,#theInfo3,#theInfo4,#theInfo5,#theInfo6,#theInfo7,#theInfo8{
    margin-top:0;
    height: 0;
    width: 0;
    opacity: 0;
    /* transition: 0.6s; */
}

.info-inactive{
    position: fixed;
    margin-top:0;
    height: 0;
    width: 0;
    opacity: 0;
    transition: 0.6s;
}

.info-active{
    opacity: 1 !important;
    margin-top: 50% !important;
    height: 100vw !important;
    width: 90vw !important;
    transition: 0.6s;
    display: grid;
    grid-template-columns: 6fr 0vw 8vw 8vw 8vw;
    grid-template-rows: 1fr 8vw 24vw;
    z-index: 2;  
    position: fixed;
    top: 0;
    right: 5%;
    background-color: white;
    border-radius: 1vh;
    -webkit-box-shadow: 10px 10px 15px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 15px -5px rgba(0,0,0,0.75);  
    box-shadow: 10px 10px 15px -5px rgba(0,0,0,0.75);           
}

.infobuy{
    height: 10vw;
    margin: 0.5vh;
}

.infomealpic{
    grid-area: 1 / 1 /span 1/ span 1;
    margin: 0.5vh;
    background-position: center;
}

.explanation{
    position: relative;
    top: 24px;
    grid-area: 1/3/span 1/span 3;
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0.5vh;
    height: 85%;
    margin-left: 0;
    font-size: 0.5rem;
}

.white{
    background-color: white;
    width: 24px;
    height: 24px;
    border-radius: 1vh;
    grid-area: 1 / 5 /span 1/ span 1;
    justify-self: right;
    margin-top: 1vh;
    right: 1vh;
    position: relative;
}


.omtextbox{
    background-color: lightskyblue;
    border-radius: 1vh;
    margin: 1vh;
    padding: 1vh;
    grid-area: 3 / 2 ;
}

h1{
    margin: 0;
    margin-bottom: 1vh;
}

.omtext,h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}
.kontaktbild,.ombild{
    height: 20vh;
    background-size: cover;
    background-position: center;
    border-radius: 1vh;
    margin: 1vh;
    grid-area: 2 / 2 ;
    background-size: 40%;
}
.ombild{
    background-image: url(../img/om.jpg);
}

.kontaktbild{
    background-image: url(../img/kontakt.jpg);
}

@media only screen and (min-device-width : 1024px){
    header{
        grid-area: 1/1/span 1/ span 2;
    }
    .wrapper{
        grid-template-columns: 20% 80%;
        grid-template-rows: 15vh auto;
        grid-template-areas: 
        "header header"
        "nav main";
    }
    .wrapper2{
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: 15vh 36vh auto;
    }
    .kontaktbild,.ombild{
        height: 35vh;
        margin-left: 0.4vw;
    }
    .omtextbox{
        margin-left: 0.4vw;
    }
    main{
        grid-template-rows: 36vh 65%;
    }
    .list{
        color: black; 
    }
    .closer{
        display: none;
    }
    .icon{
        margin-right: 2rem;
    }
    nav{
        display: block;
        grid-area: 2/1;
        background-image: url(../img/o-REPURPOSING-IDEA-facebook.jpg);
        background-size: cover;
        margin: 1vh;
        margin-right:0; 
        border-radius: 1vh;
        position: unset;
        left: 0;
        right: unset;
        opacity: 1;
        width: 19vw;
        height: 35vh;
    }
    #hamburgericon{
        display: none;
        font-size: 3rem;
    }
    #logoicon{
        font-size: 3rem;
        line-height: 15vh;
    }
    .ad{
        height: 35vh;
        background-image: url(../img/ad_desktop.jpg),url(../img/alt_header.jpg);
        background-position: center;
    }
    #carticon,#title,#hamburgericon{
        font-size: 3rem;
    }
    .meals{
        /* margin-right:1vh;    */
        /* width: 99%; */
        height: 40vw;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 20vw 20vw;
    }
    .info-active{
        margin-top: 5vw !important;
        height: 40vw !important;
        width: 60vw !important;
        grid-template-columns: 6fr 0vw 5vw 5vw 5vw;
        grid-template-rows: 8fr 5vw 4vw;
        right: 20vw;
    }
    .explanation{
        font-size: 0.7rem;
        margin-left: 0.5vh;
        margin-right: 1vh;
    }
    .infobuy{
        height: auto;
    }
}