body{
   margin: 0;
}

.wrapper{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20vh auto 20vh;
    grid-template-areas:
    "header"
    "main"
    "footer";
}

header{
    grid-area: header;
    background-color: blue;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

/* 
.kundvagn{
    
} */

.menu{
    font-size: 2rem;
    margin: 1rem;
    position: relative;
    right: 1rem;
}

#logo{
    position: absolute;
    left:1rem;
    font-size: 2rem;
    margin: 1rem;
}



i{
    transform: translateY(5vh)
}
main{
    grid-area: main;
    background-color: peru;
    height: 100%;
    width: 100%;
}

.ad{
    background-color: antiquewhite;
    margin: 1vw;
    margin-left: 0;
    height: auto;
    border-radius: 1vw;
}

footer{
    grid-area: footer;
    background-color: crimson;
    height: 20vh;
    width: 100%;
}

ul{
    display: flex;
    flex-direction: column;
    
}

a{
    text-decoration: none;
    font-size: 1.5em;
}

nav{
    display: none;
}

@media only screen and (min-device-width : 768px){
    /* and (max-device-width : 1024px) */
    .wrapper{
        grid-template-columns: 20% 80%;
        grid-template-areas: 
        "header header"
        "nav main"
        "footer footer";
    }

    nav{
        display: block;
        grid-area: nav;
        background-color: wheat;
        margin: 1vw;
        border-radius: 1vw;
    }
    #hamburger{
        display: none;
    }
    
}